{% if page.type == 'post' and site.twitter_username %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}">
{% endif %}
